@{
ViewData["Title"] = "Available Catalog";
}

<head>
    <link rel="stylesheet" href="wwwroot/css/site.css">
</head>

<h3>Available Here</h3>

<div id="catalog">
    <div class="item">
        <div class="item img"></div>
    </div>



</div>

@section Scripts {
<script src="/js/catalog.js"></script>
}