@{
    ViewData["Title"] = "About Me";
}

<h1>About Me</h1>

<p>My name is Zach Bridges.  I have been working on software development for a little over a year now.  I mostly work with C# and Unity Engine for game development and design.  
    Also using Python rather frequently to pay the bills, but my passion lies in games.  I'm a 35 year old North Carolina based veteran with the US Navy.</p>
