@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT6Uj-LhFHEKecLpXuaa9BYbl1-cYQi1u936yntFVQjTX2fHexI&usqp=CAU" alt="bases">